@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

* {
  box-sizing: border-box;
}
body {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1505017791108-7b40f307cdc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.newform {
  width: 750px;
  padding-left: 100px;
  margin: 50px 10px 0px 380px;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.date-picker {
  width: 80%;
}

.legalname {
  margin-bottom: 1rem;
  width: 80%;
  border: 1px solid #d1d5db;
  color: #111827;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
}
.address {
  margin-bottom: 1rem;
  width: 80%;
  border: 1px solid #d1d5db;
  color: #111827;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
}
.age {
  margin-bottom: 1rem;
  width: 80%;
  border: 1px solid #d1d5db;
  color: #111827;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
}
.description {
  margin-bottom: 1rem;
  width: 80%;
  border: 1px solid #d1d5db;
  color: #111827;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
}
.perpetrator-name {
  margin-bottom: 1rem;
  width: 80%;
  border: 1px solid #d1d5db;
  color: #111827;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
}
.relationship {
  margin-bottom: 1rem;
  width: 80%;
  border: 1px solid #d1d5db;
  color: #111827;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
}

.card[data-state="#about"] {
  height: 650px;
  .card-main {
    padding-top: 0;
  }
}


.card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;

  * {
    transition: 0.3s;
  }
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}

.card-avatar {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 45%;
}


.card-main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.card-subtitle {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
  
}

.card-content {
  padding: 20px;
}

.card-buttons {
  display: flex;
  background-color: #fff;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  margin-left: -100px;
  margin-right: 0px;

  button {
    flex: 1 1 auto;
    user-select: none;
    background: 0;
    font-size: 13px;
    border: 0;
    padding: 15px 5px;
    cursor: pointer;
    color: #5c5c6d;
    transition: 0.3s;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: medium;
    outline: 0;
    border-bottom: 3px solid transparent;

    &.is-active,
    &:hover {
      color: #db6b1c;
      border-bottom: 3px solid #e7924c;
      background: linear-gradient(
        to bottom,
        rgba(127, 199, 231, 0) 0%,
        rgba(207, 204, 255, 0.2) 44%,
        rgba(211, 226, 255, 0.4) 100%
      );
    }
  }
}

.card-buttons::before,
.card-buttons::after {
  width: 2px; height: 100%;
  background-color: rgb(54, 56, 55);
  z-index: 2;
  transition: 0.25s; 
}

.card-buttons span::before {
  bottom: 0; right: -2px;
}
.card-buttons span::after {
  top: 0; left: -2px;
}
.card-buttons span:hover::before,
.card-buttons span:hover::after {
  height: 0%;
}